<br>
<br>
<H2 class="text-center">Créer un Abonnement</H2>
<div class="container border">
    <form [formGroup]="formAddAbonnement" (ngSubmit)="create()">
        <div class="form-group">
            <div class="input-field col s16">
                <label for="id_abonnement">id_abonnement</label>
                <input type="text" name="" id="id_abonnement" class="form-control" formControlName="id_abonnement" data-length="10">
            </div>
            <div class="input-field col s16">
                <label for="abonnementpris">abonnementpris</label>
                <input type="text" name="" id="abonnementpris" class="form-control" formControlName="abonnementpris" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="abonnementdatedebut">abonnementdatedebut</label>
              <input type="text" name="" id="abonnementdatedebut" class="form-control" formControlName="abonnementdatedebut" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="abonnementduree">abonnementduree</label>
              <input type="text" name="" id="abonnementduree" class="form-control" formControlName="abonnementduree" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="id_utilisateur">id_utilisateur</label>
              <input type="text" name="" id="id_utilisateur" class="form-control" formControlName="id_utilisateur" data-length="100">
            </div>

        </div>
        <button class="btn btn-success" type="submit">Soumettre</button>
    </form>
    <br>
</div>
{{formAddAbonnement.value | json}}

